body {
  background: url("../images/tracks.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 p {
  font-family: "Quicksand", sans-serif;
}

.jumbotron {
  background: rgba(243, 247, 253, 0.8);
}

.form-control {
  background: rgba(254, 255, 255, 0.8);
}
.card {
  background: rgba(243, 247, 253, 0.8);
}

.btn {
  /* margin: 0; */
  opacity: 0.6;
}

/* .allForms {
  background: rgba(243, 247, 253, 0.5);
} */

@media screen and(max-width: 983px) {
  .card {
    margin-top: 10%;
  }
}
